@font-face {
    font-family: "Iosevka Taavi";
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    font-display: fallback;
    src: url("iosevka-taavi-regular-subset.woff2") format("woff2");
    unicode-range: U+21-5F,U+61-7D,U+C4,U+C5,U+D6,U+E4,U+E5,U+F6;
}

@font-face {
    font-family: "Iosevka Taavi";
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    font-display: fallback;
    src: url("iosevka-taavi-bold-subset.woff2") format("woff2");
    unicode-range: U+21-5F,U+61-7D,U+C4,U+C5,U+D6,U+E4,U+E5,U+F6;
}

body {
    font-weight: 400;
    font-family: iosevka taavi web,iosevka taavi,iosevka,iosevka web,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
}

@media screen and (min-width: 768px) {
    body {
        margin: 40px auto 40px 40px;
    }
}

h1, h2, h3 {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.emphasis {
    font-style: italic;
}

a, a:visited {
    color: #1D4ED8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
}

.roffit {
    font-size: 0.7em;
    color: #808080;
}
