{% extends "base.html" %}
{% block content %}
    {% for distro, pages in pages_by_distro.items() %}
        <h2>{{ distro }}</h2>
        <ul>
            {% for page in pages|sort %}
                <li>
                    <a href="/{{ distro }}/{{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}

